[Unit]
Description=REVA gRPC server
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/log/revad
ExecStart=/usr/local/bin/revad
StandardOutput=null
StandardError=syslog
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target

