[Unit]
Description=ownCloud Proxy
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/log/ocproxy
ExecStart=/usr/local/bin/ocproxy
StandardOutput=null
StandardError=syslog
LimitNOFILE=49152
Restart=always

[Install]
WantedBy=multi-user.target

